:root {
  --main-color: #23232e;
  --color-green: #0dc95b;
  --color-red: #eb5952;
  --color-yellow: #eebb55;
  --color-blue: #75a0ff;
  --color-pink: #bd4ae0;
  --main-font: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#arenga {
  text-align: center;
  margin: auto;
  margin-top: 6%;
}

h1 {
  animation: fadeInUp;
  animation-duration: 2.5s;
  font-size: 40px;
}

.titulo {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -10px;
  animation: fadeInUp;
  animation-duration: 2.5s;
}

text:active {
  animation: headShake;
  animation-duration: 2s;
}

.cor01 {
  color: var(--color-green);
}
.cor02 {
  color: var(--color-red);
}
.cor03 {
  color: var(--color-yellow);
}
.cor04 {
  color: var(--color-blue);
}
.cor05 {
  color: var(--color-pink);
}

ul li {
  display: inline-block;
  margin: 0 20px;
  margin-top: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.btn {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 60px;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--main-font);
}
.btn span {
  transition: all 0.3s;
}
.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.btn:hover span {
  letter-spacing: 2px;
}
.btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.tooltip-gif {
  display: inline-block;
  position: relative;
}

.tooltip-gif .bottom {
  /* background image */
  all: initial;
  max-width: 480px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px 7px 5px 7px;
  background: white;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
  display: none;
}

.tooltip-gif:hover .bottom {
  display: block;
}

.tooltip-gif .bottom img {
  /* change image */
  width: 150px;
  height: 150px;
  border-radius: 20px;
  z-index: 3;
  position: relative;
  border-top: 8px solid white;
}

.ic {
  /* diamond */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
  z-index: 1;
}

.ic::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
}

/* ******** footer *********** */

footer {
  position: fixed;
  bottom: 0;
  background: rgb(2,0,36);
  background: linear-gradient(to top, rgb(45, 45, 45), #333 90%, rgb(255, 123, 0) 50%);
  display: block;
  height: 7vh;
  width: 100vw;
}

.footer {
  position: absolute;
  margin-top: 335px;
  margin-left: 40px;
  color: white;
}

.footer a {
  text-decoration: none;
  color: blue;
}