:root {
  --main-color: #e9f2f9;
  --color-blue: #75a0ff;
  --color-pink: #bd4ae0;
  --color-red: #eb5952;
  --color-green: #0dc95b;
  --color-yellow: #eebb55;
  --color-text: #000;
  --color-text-button: #000;
  --color-button: rgba(0, 0, 0, 0.1);
  --color-button-border: rgba(0, 0, 0, 0.5);
  --main-font: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-top: 9%;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}

nav a:hover {
  color: yellow;
}

.logo {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -3px;
  font-weight: 600;
}

.cor01 {
  color: var(--color-green);
}
.cor02 {
  color: var(--color-red);
}
.cor03 {
  color: var(--color-yellow);
}
.cor04 {
  color: var(--color-blue);
}
.cor05 {
  color: var(--color-pink);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--main-font);
  background: rgb(77, 76, 76);
  height: 8vh;
  border-bottom: 5px solid #c8b080;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 1px;
  margin-left: 32px;
}

.menu:hover {
  background-color: var(--main-color-blue);
  border: 0px solid var(--main-color-grey);
}

.content-main {
  font-family: var(--main-font);
  height: 50vh;
  width: 90vw;
  text-align: justify;
  font-size: 22px;
  margin-left: 1%;
  margin-top: -8%;
  color: var(--color-text);
}

.buttons {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-top: 274px;
  position: fixed;
}

.buttons ul li {
  display: inline-block;
  margin: 0 20px;
  margin-top: 20px;
}

main p {
  margin-top: 1%;
}

.tooltip-gif {
  display: inline-block;
  position: relative;
}

.tooltip-gif .bottom {
  /* background image */
  all: initial;
  max-width: 480px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px 7px 5px 7px;
  background: white;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
  display: none;
}

.tooltip-gif:hover .bottom {
  display: block;
}

.tooltip-gif .bottom img {
  /* change image */
  width: 150px;
  height: 150px;
  border-radius: 20px;
  z-index: 3;
  position: relative;
  border-top: 8px solid white;
}

.diamond {
  /* diamond */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
  z-index: 1;
  transform: rotate(0deg);
}

.diamond::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
}

.tooltip-gif .top {
  /* background image */
  all: initial;
  max-width: 480px;
  top: -190px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0px 7px 5px 7px;
  background: white;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
  display: none;
}

.tooltip-gif:hover .top {
  display: block;
}

.tooltip-gif .top img {
  /* change image */
  width: 150px;
  height: 150px;
  border-radius: 20px;
  z-index: 3;
  position: relative;
  border-top: 8px solid white;
}

.diamond-top {
  /* diamond */
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
  z-index: 1;
  transform: rotate(180deg);
}

.diamond-top::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
}

.btn {
  color: var(--color-text-button);
  transition: all 0.3s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 60px;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--main-font);
}

.btn span {
  transition: all 0.3s;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--color-button-border);
  border-bottom-color: var(--color-button-border);
  transform: scale(0.1, 1);
}

.btn:hover span {
  letter-spacing: 2px;
}

.btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: var(--color-button);
}

.btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.diamond-top {
  /* diamond */
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
  z-index: 1;
  transform: rotate(180deg);
}

.diamond-top::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 1);
}

/* Dark Mode */

input {
  outline: none;
  border: none;
}
body#dark {
  background-color: #030205;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch {
  position: relative;
  display: inline-block;
  left: 0%;
  top: -235%;
  transform: translateX(-80%) translateY(400%);
  width: 65px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #27173a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 35px;
  bottom: 3px;
  background-color: #f9c20a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:after {
  background-color: #27173a;
  content: "";
  position: absolute;
  border-radius: 50%;
  margin-left: 30px;
  bottom: 5px;
  width: 20px;
  opacity: 0;
  height: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:after {
  left: auto;
  opacity: 1;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #27173a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  /*background: transparent;
  box-shadow: 25px 0px 0px 0px #f9c20a;*/
  -webkit-transform: translateX(-66px);
  -ms-transform: translateX(-66px);
  transform: translateX(-32px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
